:root {
	--primary-white-color: #ffffff;
	--primary-text-color: #555555;
	--secondary-text-color: #303030;
	--light-text-color: #9da4bd;
	--accent-color: #ff6c00;
}

h1,
h2,
h3,
h4,
p {
	margin-top: 0;
	margin-bottom: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
body {
	background-color: var(--primary-white-color);
	font-family: "Open Sans", sans-serif;
}
.container {
	width: 100%;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
}

/* .section {
	padding-top: 120px;
	padding-bottom: 120px;
} */
.link {
	text-decoration: none;
}

.list {
	list-style: none;
}
.btn {
	padding: 12px 20px;
	border: 1px solid #ff6c00;
	border-radius: 25px;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.09em;
	text-transform: uppercase;
	cursor: pointer;
	background-color: transparent;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover,
.btn:focus {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
}

.subtitle {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.subtitle::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: currentColor;
	display: block;
	margin-right: 20px;
}

.title {
	font-family: "Raleway", sans-serif;
	letter-spacing: 0.05em;
}

/* ============================= HEADER =======================*/
.header {
	padding: 32px 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.container {
	max-width: 448px;
	margin-left: auto;
	margin-right: auto;
}
.logo-img {
	margin-left: 0;
	fill: var(--primary-white-color);
}

.header-container {
	display: flex;
	align-items: center;
	position: relative;
}
.header-nav {
	display: flex;
	align-items: center;
}
.menu-link {
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	letter-spacing: 0.1em;
	color: var(--primary-white-color);

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-open {
	background-color: transparent;
	border: none;
	padding: 0;
	width: 40px;
	height: 40px;
}

.mobile-menu-open-icon {
	fill: var(--primary-white-color);
}

/* =========================== MOBILE-MENU ========================== */
.mobile-menu {
	background-color: #fff;
	max-width: 337px;
	
	height: 100vh;
	position: fixed;
	right: 0;
	top: 0;
	padding: 118px 40px;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	overflow: scroll;
	transform: translate(100%, 0);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
		transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	
	box-shadow: 0px 4px 8px 100vmax rgba(0, 0, 0, 0.04), 0px 2px 4px 100vmax rgba(0, 0, 0, 0.08),
		0px 1px 3px 100vmax rgba(0, 0, 0, 0.16);
		

	transform: translate(0, 0);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
		transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-container {
	display: flex;
	flex-direction: column;
}
.mobile-close-btn {
	position: absolute;
	top: 42px;
	right: 22px;
	width: 40px;
	height: 40px;
	padding: 11px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: none;
}
.mobile-close-btn-icon {
	display: block;
	width: 18px;
	height: 18px;
	margin-left: auto;
	fill: var(--secondary-text-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close-btn:hover .mobile-close-btn-icon,
.mobile-close-btn:focus .mobile-close-btn-icon {
	fill: var(--accent-color);
}

.mobile-header-nav {
	margin-bottom: 64px;
}
.mobile-menu-list {
}
/* .mobile-menu-item {
	margin-bottom: 24px;
	} */
.mobile-menu-item:not(:last-child) {
	margin-bottom: 24px;
}
.mobile-menu-link {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.39;
	letter-spacing: 0.1em;

	color: var(--secondary-text-color);
}
.current {
	color: var(--accent-color);
}
.mobile-header-address {
	color: #111319;
}
.mobile-phone-number {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.39;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--secondary-text-color);
}
.mobile-header-btn {
	padding: 12px 37px;
	margin-top: 24px;
	margin-bottom: 64px;
}
.mobile-social-link {
	font-size: 14px;
}
.mobile-social-list {
	flex-wrap: wrap;
}
.mobile-social-item:last-child {
	margin-left: 100px;
}

/*============================= HERO dark theme ======================= */
.hero {
}
.hero-left-side {
	display: none;
}
.hero-container {
	display: flex;
	padding-left: 0;
	padding-right: 0;
}
.hero-content {
	max-width: 360px;
	margin-right: auto;
	margin-left: auto;
}

.hero-right-side {
	padding: 208px 30px 208px;

	flex-grow: 1;
	background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
		url("../img/mobile/mobile-hero-1@1x.jpg");
	background-size: cover;
	background-position: center;
	max-width: 100%;
	background-color: var(--secondary-text-color);
}

@media (min-device-pixel-ratio: 2) and (min-width: 320px),
	(min-resolution: 192dpi) and (min-width: 320px),
	(min-resolution: 2dppx) and (min-width: 320px) {
	.hero-right-side {
		background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
			url(../img/mobile/mobile-hero-1@2x.jpg);
		background-color: var(--secondary-text-color);
	}
}

.hero-subtitle {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
	color: rgba(157, 164, 189, 0.6);
}

.hero-title {
	margin-bottom: 20px;
	font-family: "Raleway", sans-serif;
	font-size: 42px;
	line-height: 1.16;
	letter-spacing: 0.05em;
	color: var(--primary-white-color);
}
.hero-description {
	width: 100%;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.02em;
	color: #9da4bd;
}

/*=========================== ABOUT=========================== */

.image-list {
	display: none;
}

.section {
	padding-top: 84px;
	padding-bottom: 84px;
}
.about-container {
}
.about-subtitle {
	color: var(--secondary-text-color);
	margin-bottom: 20px;
}
.about-title {
	width: 306px;
	font-size: 28px;
	line-height: 1.17;
	color: var(--secondary-text-color);
	margin-bottom: 20px;
}
.about-text {
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	margin-bottom: 20px;
}
.about-descript {
	font-size: 14px;
	line-height: 1.86;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	margin-bottom: 40px;
}

/*========== SERVICES AND PRICES SECTION - dark theme ==========*/
.services {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	background-color: #111319;
	background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/mobile/img@1x.png);
	background-size: cover;
}
@media screen and (min-device-pixel-radio: 2) and (min-width: 320px),
	screen and (min-resolution: 192dpi) and (min-width: 320px),
	screen and (min-resolution: 2dppx) and (min-width: 320px) {
	.services {
		background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url(../img/mobile/img@1x.png);
	}
}

.servises-subtitle {
	color: rgba(157, 164, 189, 0.6);
	margin-bottom: 20px;
}
.services-title {
	font-size: 40px;
	line-height: 1.17;
	color: var(--primary-white-color);
	margin-bottom: 44px;
}

.services-content {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 44px;
	background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.services-btn {
	text-align: center;
	width: 162px;
	color: var(--primary-white-color);
	display: block;
	margin: auto;
}

.services-list {
	max-width: 570px;
	padding: 30px 20px;
	flex-grow: 1;
	width: 100%;
}
.services-list:first-child {
	padding-bottom: 20px;
}
.services-list:last-child {
	padding-top: 0;
}

.services-item {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	gap: 12px;
}
.services-item::before {
	content: "";

	height: 1px;
	flex-grow: 1;
	background-color: rgba(157, 164, 189, 0.12);
	display: inline-block;
}
.services-item:not(:last-child) {
	margin-bottom: 20px;
}
.services-item-text {
	font-size: 14px;
	line-height: 1.43;
	letter-spacing: 0.02em;
	color: var(--light-text-color);
}
.services-item-text:first-child {
	order: -1;
}

/*========================== WHY US SECTION====================== */

.content-container {
	display: flex;
	flex-direction: column-reverse;
}
.content-subtitle {
	margin-bottom: 20px;
	color: var(--secondary-text-color);
}
.content-title {
	font-size: 41px;
	line-height: 1.16;
	margin-bottom: 20px;
	color: var(--secondary-text-color);
}
.content-descript {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	margin-bottom: 44px;

	color: var(--primary-text-color);
}
.content-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 30px;
}
.content-item {
	text-align: center;
	width: 194px;
	height: 132px;
	padding: 20px 36px;
	background-color: #f7f7f7;
}
.content-item:nth-child(even) {
	margin-top: 30px;
}
.content-item > span {
	font-weight: 700;
	font-size: 42px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.05em;

	color: var(--secondary-text-color);

	position: relative;
}
.content-item > span::after {
	content: "+";
	font-weight: 600;
	font-size: 16px;
	line-height: 1.35;
	text-align: center;
	color: var(--accent-color);
	position: absolute;
	top: 5px;
	right: -12px;
}
.content-item-text {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.37;
	text-align: center;

	color: var(--secondary-text-color);
}

/*==================== OUR BARBERS SECTION ========================*/
.barbers {
	background-color: #f7f7f7;
}
.barbers-container {
	/* max-width: 418px; */
}
.barbers-subtitle {
	color: var(--secondary-text-color);
	margin-bottom: 20px;
}
.barbers-title {
	font-size: 42px;
	line-height: 1.16;
	margin-bottom: 44px;
	color: var(--secondary-text-color);
}

.barbers-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 64px;
	/* margin-top: 43px; */
}
.barbers-item {
	max-width: 418px;
	max-height: 502px;
}
.barbers-item-title {
	margin-top: 30px;
	margin-bottom: 8px;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.39;
	text-align: center;
	letter-spacing: 0.02em;

	color: var(--secondary-text-color);
}
.barbers-item-text {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.02em;

	color: var(--accent-color);
}
.barbers-social-list {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.barbers-social-list-item {
	width: 44px;
	height: 44px;
}

.barbers-social-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: var(--primary-white-color);
	fill: var(--secondary-text-color);

	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.barbers-social-list-link:hover,
.barbers-social-list-link:focus {
	fill: var(--accent-color);
	outline: transparent;
}

/*============================= GALLERY ============================*/

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.gallery-subtitle {
	margin-bottom: 44px;
	color: var(--secondary-text-color);
}
.gallery-list {
	display: flex;
	gap: 30px;
}
.gallery-image {
	width: 418px;
	height: 360px;
}

/* ============================ ONLINE-BOOKING ============================*/

/* ==============================  CONTACTS ============================== */
.contact {
	background-color: #191c26;
	padding: 0 30px;
	background-image: url(../img/mobile/mobile-contact@1x.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 46%;
}

.online-contact-title {
	font-size: 42px;
	line-height: 1.16;
	text-align: center;
	margin-bottom: 44px;
	color: var(--primary-white-color);
}

.form-field {
	width: 100%;
	margin-bottom: 44px;
}

.input-text {
	width: 100%;
	height: 24px;
	border: none;
	border-bottom: 1px solid rgba(157, 164, 189, 0.4);
	color: var(--primary-white-color);
	background-color: transparent;

	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	border-radius: 0;
	margin-bottom: 8px;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-text::placeholder {
	color: rgba(157, 164, 189, 0.4);
}
.input-text:focus {
	outline: none;
	border-bottom-color: var(--primary-white-color);
}
.input-text:focus::placeholder {
	color: var(--primary-white-color);
}
.modal-form-textarea {
	min-height: 76px;
	resize: none;
}
.modal-form-btn {
	padding: 12px 62px;
	color: var(--primary-white-color);
}
.contact-title {
	font-size: 42px;
	line-height: 1.16;
	text-align: center;
	margin-bottom: 40px;
	color: var(--primary-white-color);
}
.contact-address {
	margin-bottom: 44px;
}
.contact-item {
	position: relative;
	margin-bottom: 20px;
	display: flex;
	gap: 16px;
}
.contact-icon {
	margin-top: 4px;
}
.contact-address-link {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--light-text-color);
}
.contact-link {
	font-style: normal;
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;

	color: var(--light-text-color);
}
.contact-subtitle {
	color: var(--primary-white-color);
	margin-bottom: 20px;
}
.contact-hours {
	font-size: 18px;
	line-height: 1.67;
	letter-spacing: 0.02em;
	color: var(--light-text-color);
}

/* ==============================  FOOTER  ============================== */

.footer {
	padding-top: 44px;
	padding-bottom: 44px;
	background-color: #f7f7f7;
}
.footer-container {
	display: flex;
	justify-content: space-between;
}
.copyright {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;

	color: var(--light-text-color);
}
.social-list {
	display: flex;
	align-items: center;
	gap: 40px;
}
.social-list::before {
	content: "";
	width: 60px;
	height: 1px;
	background-color: currentColor;
}
.social-name-item {
}
.social-link {
	font-weight: 600;
	font-size: 11px;
	line-height: 1.36;
	letter-spacing: 0.2em;

	color: var(--secondary-text-color);
}
.social-link:is(:hover, :focus) {
	color: var(--accent-color);
}
