@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.section {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.header {
		padding-top: 40px;
	}
	.header-container {
		padding: 0;
	}
	.menu-link {
		font-weight: 600;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.1em;
		color: var(--primary-white-color);

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.menu-link:hover,
	.menu-link:focus {
		color: var(--accent-color);
	}
	.header-address {
		margin-left: auto;
	}
	.phone-number {
		font-weight: 600;
		font-size: 12px;
		line-height: 1.33;
		letter-spacing: 0.1em;
		color: var(--primary-white-color);
	}
	.phone-number:hover,
	.phone-number:focus {
		color: var(--accent-color);

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.header-btn {
		min-width: 160px;
		color: var(--primary-white-color);
	}

	.header-nav-wrap {
		background-color: transparent;
		max-width: unset;
		height: unset;
		position: static;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: baseline;
	}

	.logo {
		margin-right: 48px;
	}
	.menu {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}
	.logo-img {
		fill: var(--secondary-text-color);
	}

	.mobile-menu-open {
		display: none;
	}
	.barbers {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.hero {
		display: flex;
	}
	.hero-container {
		display: flex;
	}

	.hero-left-side {
		display: flex;
		align-items: flex-end;
		padding-bottom: 40px;
	}
	.hero-right-side {
		padding: 272px 98px 237px;
		background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
			url(../img/hero/desktop-hero-1@1x.jpg);
	}

	.hero-social-list {
		width: 100px;
		display: flex;
		align-items: center;
		gap: 40px;
		transform: rotate(-90deg) translateY(100%);
		transform-origin: bottom left;
		padding-top: 26px;
	}
	.hero-social-list::before {
		content: "";
		width: 60px;
		height: 1px;
		background-color: var(--secondary-text-color);
		flex-shrink: 0;
	}

	.hero-description {
		font-size: 18px;
		line-height: 1.67;
	}
	.social-name-item {
		list-style: none;
	}
	.social-link {
		font-weight: 600;
		font-size: 11px;
		line-height: 1.36;
		letter-spacing: 0.2em;
		color: var(--secondary-text-color);

		transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	.social-link:hover,
	.social-link:focus {
		color: var(--accent-color);
	}

	.about-text {
		font-size: 18px;
		line-height: 1.66;
	}
	.about-container {
		display: flex;
	}
	.image-list {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin-right: 30px;
		width: 50%;
	}
	.about-content {
		width: 50%;
		max-width: 330px;
	}
	.about-descript {
		margin-bottom: 77px;
	}

	.barbers-item {
		max-width: 450px;
	}

	.gallery-list {
		flex-wrap: wrap;
	}
	.gallery-image {
		width: 330px;
	}

	.contact {
		padding: 0 40px;
		/* background-size: 100% 51%; */
	}
	.online-form {
		display: flex;
		flex-wrap: wrap;
	}
	.form-field:nth-child(1),
	.form-field:nth-child(2) {
		width: 50%;
	}
	.form-field:nth-child(1) {
		padding-right: 15px;
	}
	.form-field:nth-child(2) {
		padding-left: 15px;
	}
	.contact-address-link {
		width: 200px;
	}
	.contact-title {
		text-align: left;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.container-sm {
		max-width: 450px;
	}
	.header-container {
		align-items: normal;
		justify-content: space-between;
	}
	.header-contacts {
		display: flex;
		flex-direction: column-reverse;
	}
	.header-btn {
		margin-bottom: 20px;
	}
	.header-nav {
		align-self: baseline;
		margin-top: 12px;
	}
	.header-address {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-left: 45px;		
	}
	.phone-number {
		order: 1;
	}

	.services {
		background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
			url(../img/services/desktop-services@1x.png);
	}
	.services-title {
		font-size: 42px;
		line-height: 1.17;
		color: var(--primary-white-color);
		margin-bottom: 44px;
	}
	.services-item-text {
		font-size: 18px;
		line-height: 1.67;
	}

	.content-list {
		max-width: 450px;
		margin-left: auto;
	}
	.content-item {
		width: 210px;
		padding: 20px 44px;
	}
	.content-title {
		font-size: 42px;
	}
	.online-contact-title {
		text-align: left;
	}
	.contact-address {
		width: 50%;
		margin-bottom: 0;
	}
	.work-hours {
		width: 50%;
	}
	.contact-wrap {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.contact-form {
		padding-top: 100px;
		padding-bottom: 100px;
	}
	.contact-work-wrap {
		display: flex;
	}
	.footer {
		padding-top: 56px;
		padding-bottom: 56px;
	}
	.contact {
		background-image: url(../img/desktop-contact1x.png);
	}
}

@media screen and (min-device-pixel-radio: 2) and (min-width: 769px),
	screen and (min-resolution: 192dpi) and (min-width: 769px),
	screen and (min-resolution: 2dppx) and (min-width: 769px) {
	.services {
		background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
			url(../img/services/desktop-services@2x.png);
	}
	.hero-right-side{
		background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
			url(../img/hero/desktop-hero-1@2x.jpg);
	}
}
